$fa:"fontawesome";
$font:'Segoe UI', Verdana;

body {
    background: linear-gradient(#fff, 30%, rgba(0,0,0,0.04), 90%, #ccc);
	font-family: $font;
	margin:0;
}

@font-face {
font-family: "fontawesome";
src: url("fonts/fontawesome-webfont.eot");
src: url("fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), 
	 url("fonts/fontawesome-webfont.woff") format("woff"), 
	 url("fonts/fontawesome-webfont.ttf") format("truetype"), 
	 url("fonts/fontawesome-webfont.svg#web") format("svg");
font-style: normal;
font-weight: normal;
}

.container {
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

/* Controls */

.controls {
    display: inline-block;
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    border-radius: 2.5px;
    font-size: 0.8em;
    text-transform: uppercase;
	min-width:160px;
	margin:10px 0 0 10px;
}

.controls h3{
	margin-top:0;
    padding: 15px;
}

.controls h5 {
    margin: 0 0 5px 0;
	padding:0 15px;
}

.controls .control{
	position:relative;
	margin-bottom:8px;
}

.control > div{
	cursor:pointer;
	padding:8px 0 8px 40px;
	color:#bbb;
	transition:background-color 0.3s ease-in-out;
}

.control > div:hover{
	background-color:rgba(0,0,0,0.5);
}

.control > div.active{
	color:#fff;
	font-weight:600;
}

.control > div:before {
    content: '';
    display: inline-block;
    border: 1px dashed #fff;
    margin-right: 10px;
    border-radius: 3px;
    font-weight: normal;
    background-color: rgba(255,255,255,0.1);
	position: absolute;
	left:15px;
}

.controls div.active:before {
	border-style:solid;
    background-color: rgba(255,255,255,0.5);
}

.controls .phone:before {
    height: 18px;
    width: 8px;
    margin: 0 6px 0 6px;
}

.controls .phone.active:before {
    height: 12px;
    width: 8px;
    margin: 0 6px 0 6px;
	border-width:4px 1px 4px 1px;
}

.controls .tablet:before {
    height: 18px;
    width: 13px;
    margin: 0 4px 0 4px;
}

.controls .tablet.active:before {
    height: 16px;
    width: 11px;
    margin: 0 3px 0 3px;
	border-width:2px;
}

.controls .portrait:before {
    height: 18px;
    width: 11px;
    margin: 0 7px 0 5px;
}

.controls .landscape:before {
    height: 11px;
    width: 18px;
    margin: 3px 4px 3px 2px;
}

.controls .black:before {
	height:15px;
	width:15px;
	background-color:#000 !important;
	margin-left:3px;
	opacity:0.5;
}

.controls .white:before {
	height:15px;
	width:15px;
	background-color:#fff !important;
	margin-left:3px;
	opacity:0.5;
}

.controls .black.active:before, .controls .white.active:before {
	opacity:1;
}

.controls #degree{
	position: absolute;
	top:0;
	right:15px;
	font-size:0.8em;
	font-weight:bold;
}

.controls input[type="range"] {
    margin: 0 15px;
}

.siteInput{
	position:absolute;
	left:40%;
}


/* Device frame */

.device {
    display: table;
    margin: 10px auto;
	//transition: all 0.1s ease-in-out;
	position:relative;
	border-radius: 40px 40px 0 0;
	overflow:hidden;
	box-shadow: 0 0 1px rgba(0,0,0,0);
}

.reflection {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
	background: linear-gradient(135deg, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 40%);
    z-index: 1;
    transform: rotate(-15deg);
    left: 72%;
    top: -15%;
	transition: left 0.1s ease-in-out;
}

.device.white .reflection {
	background: linear-gradient(135deg, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 40%);
}

.device:After {
    content: '';
    display: block;
    height: 70px;
    background: linear-gradient(rgba(0,0,0,0.15), 30%, rgba(0,0,0,0.07) 50%, 70%, transparent);
    border-radius: 40px 40px 0 0;
	margin-top: 1px;
}

.frame {
    padding: 60px 13px 70px 13px;
    border-radius: 40px;
    position: relative;
    display: block;
	border: 1.5px solid;
}

.tablet .frame{
	padding: 50px 30px 70px 30px;
}

.black .frame{
	background-color: #000;
}

.white .frame{
	background-color: #f1f1f1;
}

.phone.black .frame{
	box-shadow: inset 0 3px 10px rgba(255,255,255,0.33);
	border-color: #777 #4f4f4f #111 #4f4f4f;
}

.phone.white .frame{
	box-shadow: inset 0 3px 10px rgba(0,0,0,0.12);
	border-color: #ddd #cfcfcf #999 #cfcfcf;
}

.phone.black .edges{
	padding:0;
	background:linear-gradient(#ddd, 1%, #333 8%, #333 94%, #000 100%);
	border-radius:45px;
}

.phone.white .edges{
	padding:1px;
	background:linear-gradient(#fff, 2%, #777 9%, #777 94%, #444 100%);
	border-radius:45px;
}

.tablet.black .frame{
	border-color: #999 #888 #6b6b6b #888;
	box-shadow: inset 0 1px 2px rgba(255,255,255,0.3);
}

.tablet.white .frame{
	border-color: #ddd #bbb #999 #bbb;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.12);
}

.tablet .edges{
	padding:1px;
	background:linear-gradient(#fff, 1%, #ccc 8%, #ccc 94%, #444 100%);
	border-radius:45px;
}

.frame:before {
    content: '';
    display: block;
    position: absolute;
    height: 5px;
    width: 50px;
    background-color: #333;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.4);
    border: 1px solid;
    border-color: #111 #222 #444 #222;
	z-index:2;
}

.tablet .frame:before{
	display:none;
}

.frame:after {
    content: '';
    width: 45px;
    height: 45px;
    background-color: #111;
    display: block;
    bottom: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
	border: 2px solid;
    border-color: #2d2d2d #3f3f3f #555 #454545;
}

.white .frame:after {
	background-color:#fafafa;
	border-color: #8f8f8f #bbb #d4d4d4 #b0b0b0;
}

.screen {
    border-radius: 1.5px;
    box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.6);
	overflow:hidden;
	background-color: #fff;
	z-index:2;
	position:relative;
	text-align:center;
}

.screen iframe {
	border:0;
	box-shadow: 0 0 1px transparent;
}

.phone .screen, .phone .screen iframe {
    width: 310px;
    height: 551px;
	box-shadow: 0 0 1px transparent;
}

.tablet .screen, .tablet .screen iframe {
    width: 550px;
    height:732;
	box-shadow: 0 0 1px transparent;
}


/* Phone header */

.phone-header{
	background-color:transparent;
	color:#222;
	font-weight:600;
	font-size:12px;
	display:flex;
	flex-direction:row;
	justify-content: space-between;
    align-items: center;
	padding:4px;
	position:absolute;
	left:0;
	right:0;
}

span.center.clock {
    width: 65px;
	text-align: left;
}

.phone-header .icon{
	font-family:$fa;
}

.phone-header .battery:before{
	content:'\f241';
}

.phone-header .signal:before{
	 content: "\f012";
}